body {
    background: #fafafa;
}

.dino {
    width: 60px;
    height: 60px;
    background-image: url(images/dino.png);
    position: absolute;
    bottom: 0;
}

.cactus {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background-image: url(images/cactus.png);
}

.gameOver {
    text-align: center;
    color: #666666;
    margin-top: 50px;
    font-family: arial;
}

@keyframes slideRight {
    from {
        background-position: 70000%;
    }
    to {
        background-position: 0;
    }
    /*Faz com que o bacgkground deslize para a esquerda de maneira animada*/
}

.background {
    position: absolute;
    bottom: 0;
    background-image: url(images/background-dino.png);
    background-repeat: repeat-x;
    /*Vai ficar estendido ao longa da tela independente do tamanho dela*/
    animation: slideRight 600s infinite linear;
    width: 100%;
    height: 200px;
}